*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    /* background-color: rgba(53, 242, 242, 0.5); */
    box-shadow: rgba(5, 177, 68, 0.2) 0px 7px 29px 0px;
}
.line{
    height: 60px;
    width: 5px;
    border-radius: 10px;
    background-color: rgba(5, 177, 68, 0.2);
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo > img{
    width: 90px;
}
.nav-logo > h2{
    color: green;
}
.navbar > a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    padding: 0px;
    margin: 0px;
}
.navbar > a:hover{
    color: green;
    font-weight: 500;
}
.navbar > button {
    background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.navbar > button:hover{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}
.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    /* border: solid red 2px; */
}
@media screen and (max-width: 700px) {
    .hero-greet > h1{
        font-size: 10rem;
    }
  }
.hero-greet{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 4rem;
    padding-left: 4rem;
}
.hero-greet > h1{
    font-size: 4.5rem;
}
.green{
    color: green;
}
.dashboard-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px;
}
.card{
    height: 14rem;
    width: 14rem;
    border-radius: 15px;
    /* background-color: red; */
    box-shadow: rgba(5, 177, 68, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.card:hover{
    height: 15rem;
    transition: 400ms;
}
.card > img{
    width: 4rem;
    color: green;
}
